<div class="flex m-auto items-center justify-between py-5 w-4/5">
    <h1 class="text-2xl font-bold">
        <a href="/">
            &lt;/&gt; Eduardo Lima
        </a>
    </h1>
    <ul class="flex gap-3">
        <li>
            <a href="/#sobre">
                Sobre
            </a>
        </li>
        <li>
            <a class="text-red-500" href="/#projetos">
                Projetos
            </a>
        </li>
        <li>
            <a href="/#contato">
                Contato
            </a>
        </li>
    </ul>
    <a href="/curriculo">Currículo</a>
</div>
